@font-face {
    font-family: "Cairo Black";
    src: url("fonts/Cairo-Black.ttf");
  }
  @font-face {
    font-family: "Cairo Bold";
    src: url("fonts/Cairo-Bold.ttf");
  }
  @font-face {
    font-family: "Cairo ExtraBold";
    src: url("fonts/Cairo-ExtraBold.ttf");
  }
  @font-face {
    font-family: "Cairo ExtraLight";
    src: url("fonts/Cairo-ExtraLight.ttf");
  }
  @font-face {
    font-family: "Cairo Medium";
    src: url("fonts/Cairo-Medium.ttf");
  }
  @font-face {
    font-family: "Cairo Regular";
    src: url("fonts/Cairo-Regular.ttf");
  }
  @font-face {
    font-family: "Cairo SemiBold";
    src: url("fonts/Cairo-SemiBold.ttf");
  }
  @font-face {
    font-family: "CovesBold";
    src: url("fonts/CovesBold.otf");
  }
  @font-face {
    font-family: "CovesLight";
    src: url("fonts/CovesLight.otf");
  }
  @font-face {
    font-family: "Ailerons";
    src: url("fonts/Ailerons.otf");
  }
  @font-face {
    font-family: "Cornerstone";
    src: url("fonts/Cornerstone.ttf");
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo';
}
/**********/
/* HEADER */
/* menu */
header{
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 5em;
    transition: 0.5s ease;
    background: #004a75f2;
}
header.fixed-nav{
    background: #fff;
    position: fixed;
    margin: 1em 0 0 0;
    width: 96%;
    left: 2%;
    transition: all 1.5s ease-in-out;
    box-shadow: 0px 0px 10px -5px black;
    border-radius: 4px;
}
header .brand {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Cairo Bold';
}
header .navigation {
    position: relative;
}
/* cores menu e efeitos de hover */
header .navigation .navigation-items a{
    position: relative;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 1s ease;
    font-family: 'Cairo Medio';
    text-transform: uppercase;
}
header.fixed-nav .navigation-items a {
    color: black;
}
header.fixed-nav .brand {
    color: black;
}
header .navigation .navigation-items a:hover{
    color: #3678c1;
}
header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #3678c1;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
}
header .navigation .navigation-items a:hover:before {
    width: 100%;
}
/* cores menu e efeitos de hover */
/* menu */
/* FIM HEADER */
/**********/


/**********/
/* SEÇÂO 1 HOME */
.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #004a75;
    padding-top: 5em;
}

/* Conteudo slider */
.home .content {
    display: none;
}
.home .content.active {
    display: block;
    z-index: 2;
    background: #004a75c9;
    padding: 2em 4em 4em 4em;
    border-radius: 20px;
    width: 50%;
    margin-left: 5em;
}
.home .content h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: -7px;
    line-height: 75px;
    margin-bottom: 20px;
    font-family: 'Cairo Bold';
    color: white;
}
.home .content p {
    font-family: 'Cairo Medio';
    font-size: 20px;
    color: white;
}
/* Fim Conteudo slider */

/* Icones sociais flutuantes */
.home .media-icons {
    z-index: 3;
    position: fixed;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.home .media-icons a{
    color:#86d0fd;
    font-size: 1.6em;
}
.home .media-icons a:not(:last-child){
    margin-bottom: 20px; 
}
.home .media-icons a:hover{
    transform: scale(1.3); 
}
/* Fim icones sociais flutuantes  */

/* Video de fundo */
.home video {
position: absolute;
height: 100%;
width: 100%;
z-index: 0;
top: 0;
left: 0;
object-fit: cover;
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
/* Fim Video de fundo */

/* Botoes de navegar slider */
.slider-navigation {
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    transition: 0.3s ease;
}
.slider-navigation .nav-btn.active{
    background-color: #004a75;
}
.slider-navigation .nav-btn:hover {
    transform: scale(1.3);
    background-color: #004a75;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 1em;
}
/* Botoes de navegar slider */
/* FIM SEÇAO 1 HOME  */
/**********/

@media (max-width: 1040px){
    header {
        padding: 12px 20px;
    }
    section {
        padding: 100px 20px;
    }
    .home .media-icons {
        right: 15px;
    }
    .home .content h1 {
        font-size: 2.5em;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 45px;
        margin-bottom: 30px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1,1,0,0.5);
    }
    .menu-btn {
        background: url(C:/Users/Pena/Pictures/botao-de-menu.png);            
        background-size: 30px;
        background-position: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: 0.4s ease;
    }
    .menu-btn.active {
        background: url(C:/Users/Pena/Pictures/close.png);            
        transition: 0.4s ease;
        background-size: 40px;
        width: 40px;
        height: 40px;
        background-position: center;
        z-index: 999;
    }
    header .navigation .navigation-items a{
        color: black;
        font-size: 1.2em;
        margin: 20px;
    }
    header .navigation .navigation-items a:before{
        background: black;
        height: 2px;
    }
    header .navigation .navigation-items{
        background: white;
        width: 50%;
        max-width: 80%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 5px 5px 15px -2px white;
    }
}
/* FIM HEADER */
/**********/




/**********/
/* BLOCOS */
section {
    min-height: 100vh;
}
/* BLOCOS */
/**********/





/**********/
/* BLOCO EMPREGOS */
#empregos {
    background-color: #fff;
    padding: 3em 3em;
    display: flex;
    flex-direction: column;
}

#empregos .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

#empregos .title h2 {
    font-size: 34px;
    color: black;
    font-family: 'Cairo Bold';
}

.traco {
    width: 50px; 
    height: 4px; 
    background-color: black;
    margin-right: 1em;
}
.traco-after {
    width: 50px; 
    height: 4px; 
    background-color: black;
    margin-left: 1em;
}

.traco-branco {
    width: 50px; 
    height: 4px; 
    background-color: white;
    margin-right: 1em;
}
.traco-after-branco {
    width: 50px; 
    height: 4px; 
    background-color: white;
    margin-left: 1em;
}

.empregos {
    width: 100%;
}

.empregos-content {
    margin-top: 3em;
}

.btn-empregos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tab-btn:not(:last-child) {
    margin-right: 1.4em;
}

/* esconde conteudo e ativa botao clicado */

  .tab-btn {
    background-color: #004a75;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0 67 107 / 90%);
    border-radius: 10px;
    padding: 10px 5px;
    font-size: 16px;
    font-family: 'Cairo Bold';
    transition: all 1s;
    width: 60px;
    height: 60px;
  }

  .tab-btn p{
    display: none;
    font-family: 'Cairo Bold';
  }

  .tab-btn.active p{
    display: block;
  }

  .tab-btn span{
    position: static;
  }

  .tab-btn.active span{
    display: none;
  }

  .tab-btn.active {
    background: #0078bd;
    color: #fff;
    font-size: 17px;
    width: 25%;
  }

  .content-jobs {
    display: none;
  }
  .content-jobs.active {
    display: block;
    padding: 0 5em;
  }
  /* Fim esconde conteudo e ativa botao clicado */

  /* Conteudo dos empregos */
  .jobs-titulo {
      font-size: 34px;
      color: #414141;
      margin-bottom: 0.6em;
      font-family: 'Cairo Bold';
  }
  .info-principal {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2em;
  }
  .info-principal h3{
      color: #575757;
      font-size: 20px;
      font-family: 'Cairo Bold';
  }
  .info-principal span{
      color: #575757;
      font-size: 18px;
      font-family: 'Cairo Medio';
  }
  .job-conteudo p {
    font-size: 18px;
    color: #181818;
    margin-bottom: 0.8em;
    font-family: "Cairo Regular";
  }
   /* Fim Conteudo dos empregos */
  /* FIM BLOCO EMPREGOS*/
  /**********/







/**********  SITES ***********/
#sites {
    background-color: #004a75;
    padding: 3em 4em 3em 3em;
}
#sites .title h2 {
    font-size: 34px;
    color: white;
    font-family: 'Cairo Bold';
}
#sites .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}
#sites .btn-sites {
    margin: 1em 0 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sites-filter-btn {
    text-transform: capitalize;
    margin: 0 1em;
    background-color: #0078bd;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff7c;
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 16px;
    font-family: 'Cairo Bold';
}
.sites-filter-btn:hover {
  background: #fff;
  color: #0078bd;
}
.menu-item {
    display: flex;
    flex-direction: column;
    max-width: 27vw;
}
.section-center{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2em;
}
.photo {
    object-fit: contain;
    height: 200px;
    border-radius: 4px;
    max-width: 250px;
}
.sites-item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.sites-item-info {
    height: 200px;
}
.sites-item-info h4 {
    margin: 0.8em 0 1rem 0;
    color: white;
    font-size: 20px;
    font-family: 'Cairo Bold';
    text-transform: uppercase;
}
.site-item-texto {
    height: 150px;
    position: relative;
}
.price {
  color: var(--clr-gold);
}
.sites-item-text {
    margin-bottom: 0;
    font-family: 'Cairo Medio';
    color: white;
}
.site-item-btn {
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -4px black;
    margin-top: 1em;
    border: 0px;
    position: absolute;
    bottom: 0px;
}
.site-item-btn a {
    text-decoration: none;
}
/********** FIM SITES ***********/






/********************************/
/********** HABILIDADES ***********/
#habilidades {
    padding: 3em 4em 3em 3em;
}
#habilidades .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}
#habilidades .title h2 {
    font-size: 34px;
    color: black;
    font-family: 'Cairo Bold';
}
#habilidades .habilidades-col {
    display: flex;
    align-content: center;
    justify-content: center;
}
.habilidade-cards {
    display: flex;
    align-items: center;
}
.habilidades-conteudo {
    background: #1f4a78;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 3em 3em 5em;
    border-radius: 0 10px 10px 0px;
    margin-left: -2em;
}
.face {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 32px solid white;
    z-index: 2;
}

.front, .back {
    position: absolute;
    width: 150px;
    height: 150px;
    transition: 1000ms;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    flex-direction: column;
    border-radius: 100px;
    border: 7px solid white;
}
.front {
    background-color: #1f4a78;
    z-index: 1;
}
.back {
    background-color: #1f4a78;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    color: white;
}

.face:hover .front {
    transform: rotateY(180deg);
    z-index: 0;
}
.face:hover .back {
    transform: rotateY(0);
    z-index: 1;
}

.face h2 {
    color: white;
    font-size: 24px;
    font-family: 'FontAwesome';
    padding: 0 0 0.4em 0;
}

.back h3 {
    font-size: 28px;
    color: white;
    font-family: 'Font Awesome 5 Brands';
} 
/********** FIM HABILIDADES ***********/
/********************************/


#whats {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#whats img{
    height: 50px;
}



/********************************/
/********** FOOTER ***********/





/********** FIM FOOTER ***********/
/********************************/